<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <form method="post" action="/todo" class="form">
            <div class="t">
            <input type="text" name="task" placeholder="task" class="task">
            <input type="checkbox" name="choice" placeholder="" class="cb">
            </div>
            <input type="text" name="desc" placeholder="description" class="desc">
            <input type="submit" name="submit" placeholder="add" class="submit">
        </form>
    </div>
</body>
</html>